* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hien-len{
    transform-origin: center bottom;
}
.cot-lap-9{
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 992px){
    .cot-lap-9 {
        width: 75%;
    }
}
.dau-trang{
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
.h3{
    font-size: 24px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.bang{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    display: table;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: center;
    border-color: grey;
    font-variant: normal;
}
.bang thead tr th {
    padding: 10px;
}
.phan-trang{
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.hien-thi-kieu-none{
    display: none;
}
.phuong-thuc-1{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

}
div{
    display: block;
}
body{
    margin-top: 20px;
    color: #9b9ca1;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #ffffff;
}
html{
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.phuong-thuc-lop-phu{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}
.phuong-thuc-than{
    order-radius: 5px;
    background-color: aliceblue;
    margin: auto;
    z-index: 3;
}
.hang-dau{
    flex-direction: row;
    margin-top: 1px;
    height: 35px;
}
.nen{
    color: #fff;
    background-color: #337ab7;
}
.nut-bam{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.dong{
    float: right;
    color: #9b9ca1;
}
.phong-nhom{
    margin-bottom: 15px;
}
.phong-kiem-soat{
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    color: #29292e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5dfe4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.le-trai-phai-tu-can{
    margin-left: auto;
    margin-right: auto;
    background-color: #dff0d8;
}
.nut-bam-so-cap{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.bang td{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}