*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
body,
input,
button,
textarea,
select {
    outline: none;
    font-size: 12px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}
input {
    line-height: normal;
}
button {
    cursor: pointer;
}
.image-slider {
    padding-bottom: 50px;
}
.image {
    height: 500px;
    margin-bottom: 20px;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
.image-title {
    font-size: 20px;
    color: #343a40;
}
.slick-initialized .slick-slide {
    margin: 0 10px;
}
.slick-initialized .slick-slide:hover .image {
    opacity: 0.8;
    cursor: pointer;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    z-index: 5;
    transition: all 0.2s linear;
    border-radius: 50%;
}
.slick-arrow:hover {
    background-color: rgb(228,81,39);
    color: white;
    border: none;
}
.slick-prev {
    left: -20px;
}
.slick-next {
    right: -20px
}
.slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}
.slick-dots button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 100rem;
    background-color: #FFF;
    border: none;
    outline: none;
    transition: all 0.2s linear;
}
.slick-dots .slick-active button {
    background-color: #333;
}

.product {
    margin-bottom: 30px;
}